* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../Images/ffv.jpg);
  background-size: cover;
  background-position: center;
}

.brand {
  color: rgb(250, 230, 230);
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #d272ef;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transition: 0.3s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 20%;
  transform: translateY(50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 4rem;
}

.content p {
  width: 50%;
  font-size: 1rem;
  line-height: 1.5;
  margin: 20px auto;
}

button {
  width: 200px;
  padding: 15px 0;
  margin: 15px 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  color: white;
  border: 1px solid #d272ef;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cd3bfa;
}
